/**
* @name strong dark
* @version Auto Update
* @author Sammy
* @website https://github.com/Sammy460
* @paypal https://www.paypal.com/paypalme/sammy460
*/

.theme-dark {
    --header-primary: rgb(255, 255, 255);
    --text-link: rgb(255, 255, 255);
    --background-primary:  url(https://cdn.discordapp.com/attachments/1030247989429678186/1054582692454338592/ezgif.com-gif-maker.gif);
    --background-secondary: url(https://cdn.discordapp.com/attachments/1030247989429678186/1054582692454338592/ezgif.com-gif-maker.gif);
    --background-secondary-alt: url(https://cdn.discordapp.com/attachments/1030247989429678186/1054582692454338592/ezgif.com-gif-maker.gif);
    --background-tertiary: black;
    --background-accent: black;
    --background-floating: black;
    --chat-input-container-background: black;
  
}

.markup-eYLPri {
   
    color: rgb(232, 205, 245);
    background: black;
}

.textArea-2CLwUE {
    background-color: black;
    resize: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: var(--text-normal);
    padding-left: 0;
    padding-right: 10px;
}
.scrollableContainer-15eg7h {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:black;
    max-height: 50vh;
    border-radius: 8px;
    scrollbar-width: none;
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
    color: var(--white-500);
    background-color: #ff000080;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: var(--white-500);
    background-color: #2f3237;
}
.layout-1LjVue {
    min-width: 0;
    border-radius: 4px;
    height: 35px;
    padding: 0 8px;
}
.layer-2aCOJ3 {
    position: absolute;
    pointer-events: auto;
    background: black;
}
.numberBadge-37OJ3S {
    background-color: #b9bbbe !important; 
    color: rgb(0, 0, 0);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: #4f545c63;
}
.selected-3veCBZ {
    background-color:#4f545c63;
}
.name-28HaxV {
    color: rgb(129, 129, 129);
}
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    background-color: rgb(0, 119, 0);
    color: var(--status-positive-text);
}
.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: rgb(255, 255, 255);
}
.profileColors-3Y0XaR {
    transform: none;
    --profile-gradient-primary-color: display none;
    --profile-gradient-secondary-color: transparent;
    --profile-gradient-overlay-color: black;
    --profile-gradient-button-color: var(--button-secondary-background);
    --profile-avatar-border-color: var(--background-secondary-alt);
    --profile-message-input-border-color: var(--background-modifier-accent);
    --profile-body-background-color: var(--background-floating);
    --profile-body-background-hover: var(--background-modifier-hover);
    --profile-body-divider-color: rgb(255 255 255);
    --profile-role-pill-background-color: var(--background-secondary-alt);
    --profile-role-pill-border-color: var(--interactive-normal);
    --account-profile-popout-menu-hover: var(--brand-experiment-560);
}
